@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.box {
  width: 1170px;
  height: 499px;
  margin: 0px 0px 0px 140px;
  border: 1px solid gray;
  border-radius: 2px;
}
.box .stat {
  margin: 0px 0px 0px 20px;
}

.tab {
  border: 1px solid rgba(220, 220, 220, 0);
  width: 500px;
  position: relative;
  left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
}

.bigtext {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding: 20px 0px 0px 90px;
}

.info {
  padding: 50px 0px 0px 90px;
  font-weight: 600;
  text-align: left;
}

.button .button-text {
  cursor: pointer;
  color: aliceblue;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  background-color: #EC7979;
  border: 2px solid #EC7979;
  width: 280px;
  height: 40px;
  padding: 10px 0px 0px 0px;
  margin: 30px 0px 0px 90px;
}

.liner {
  border: 1px solid gray;
  width: 200px;
  height: 40px;
  position: relative;
  bottom: 494px;
  display: grid;
}

.wgite {
  position: fixed;
  border: 3px solid #fff;
  background-color: #fff;
  width: 194.1px;
  height: 40px;
  position: relative;
  bottom: 505px;
  left: 0.9px;
}